html{
  background-color: #022626
}
body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0
}
.container
    { 
          position: fixed;
          width: 100%;
          background-color:#030305;
          overflow: auto;
          
    }



.nava
  { 
      font-size: 40px;
      float: left;
      padding-left:1%;
      padding-right: 1%;
      padding-top: 5px;
      padding-bottom: 5px;
      text-decoration: none;
      background-color: transparent;
      color:#fcfcff;
      padding-top: auto;
      padding-bottom: auto;
  }

.nava2
    {
        width: auto;
        font-size: 40px;
        padding-right:2%;
        padding-left: 2%;
         padding-top: 5px;
      padding-bottom: 5px;
        float: right;
        text-decoration: none;
        background-color: transparent;
        color:#fcfcff;
        padding-top: auto;
        padding-bottom:auto;
    }
.nava a:hover
    {
      background-color: #18c947;
    }

.container a:hover
    {
      background-color: #18c947;
    }

.slideshow-container{
  padding-top: 8%;
  width: 90%;
  margin: auto;
}

.mySlides{}

                            



/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: all;
  bottom:;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
                            /* Position the "next button" to the right */


.next 
    {
      right: 5%;
      top:60%;
      border-radius: 16px 0 0 16px;
      padding: 2%;
      position: absolute;
      color: white;
      float: right;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }
.prev 
    {
      left: 5%;
      top: 60%;
      border-radius: 16px 0 0 16px;
      padding: 2%;
      position: absolute;
      color: white;
      float: left;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
     {
        background-color:black;
        color: white;
        opacity: 0.8;
      }

                                          /* About */


#section2
    {
      font-size: 35px;
      width: 98%;margin: auto;
      color: #353831;
    }

#s-section2
    {
      font-size: 70px;
      color: white;
      padding-left: 2%;
    }


                                          /* Gallery */


 
 #section3{
  background-color: white;
  height: auto;
  width: 98%;
  margin: auto;
  font-size: 20px;

}
#s-sect3
    {
      font-size: 70px;
      color: white;
      padding-left: 2%;
    }



.header {
  text-align: center;
  padding: 32px;
}

.row {
   background-color: white;
   width: 98%;
   margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}





                                            /* testimonial */

#testh{
  font-size: 60px;
  color: white;
  padding-left: 2%;
}

 #section4{
  background-color:#8df7f4;
  width: 90%;
  margin: auto;
  color: white;
}                                           
.row2 {
  width: 90%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 45%; /* IE10 */
  flex: 45%;
  max-width: 50%;
  padding: 0 20px;
  margin: auto;

}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  margin: 50px;
  width: 90%;
}
#icons{
  border-radius:50%;
  height: 300px;
  width: 300px;
  border:solid black 2px;
}




                                      /*  contact  */

#s-sect5{
  font-size: 70px;
  width: 100%;height:auto;background-color: #1f1e1e;
  color: white;
}

#section5{
  position:relative;
  background-color: #1f1e1e ;
  opacity: 0.7;
  text-align: center;
  float:left;
  width: 100%;

  height: auto;
}
.cont{
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 70px;

}
#sub{
  padding-bottom: 10px;
  width: 20%;
  float: left;
  text-align: center;
}



                                              /* join us */


#section6{
  background-color:#2d2e2d ;
  text-align: center;
  float:left;
  width: 100%;
  height: auto;
  font-size: 70px;
}
#us{
  font-size: 70px;
  color: white;
}
.box{
  width: 50%;
  margin: auto;
  background-color: white;
  margin-bottom: 2%;
  border:solid black 2px;
}
#hub{
  width: 80%;
  margin:auto;
  border:solid black 2px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#h-hub{
  width:50%;
  margin: auto;
  border:solid black 1px;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #36e370;
  color: red;
}
#join{
  font-size: 30px;
}
.copy{
  background-color: black;
}


                                                  /* logos  */


.fa {
  text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:transparent;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: transparent;
  color: white;
}

.fa-instagram {
  background: transparent;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: transparent;
  color: white;
}

/* other dimensions */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    margin: auto;
    -ms-flex: 45%;
    flex: 45%;
    max-width: 45%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    margin: auto;
    -ms-flex: 90%;
    flex: 90%;
    max-width: 90%;
  }
}








                                                        /* for 1000 px*/






@media screen and (max-width: 1000px){
 



.nava
  { 
      font-size: 35px;
      float: left;
      padding-left:1%;
      padding-right: 1%;
      padding-top: 5px;
      padding-bottom: 5px;
      text-decoration: none;
      background-color: transparent;
      color:#fcfcff;
      padding-top: auto;
      padding-bottom: auto;
  }

.nava2
    {
        width: auto;
        font-size: 35px;
        padding-right:2%;
        padding-left: 2%;
         padding-top: 5px;
      padding-bottom: 5px;
        float: right;
        text-decoration: none;
        background-color: transparent;
        color:#fcfcff;
        padding-top: auto;
        padding-bottom:auto;
    }
.nava a:hover
    {
      background-color: #18c947;
    }

.container a:hover
    {
      background-color: #18c947;
    }

.slideshow-container{
  padding-top: 8%;
  width: 90%;
  margin: auto;
}

.mySlides{}

                            



/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 27px;
  padding: 7px 11px;
  position: all;
  bottom:;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 11px;
  padding: 7px 11px;
  position: absolute;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

                            /* Position the "next button" to the right */


.next 
    {
      right: 5%;
      top:55%;
      border-radius: 14px 0 0 14px;
      padding: 2%;
      position: absolute;
      color: white;
      float: right;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }
.prev 
    {
      left: 5%;
      top: 55%;
      border-radius: 16px 0 0 16px;
      padding: 2%;
      position: absolute;
      color: white;
      float: left;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }



                                          /* About */


#section2
    {
      font-size: 32px;
      width: 98%;margin: auto;
      color: #353831;
    }

#s-section2
    {
      font-size: 64px;
      color: white;
      padding-left: 2%;
    }


                                          /* Gallery */


 
 #section3{
  background-color: white;
  height: auto;
  width: 98%;
  margin: auto;
  font-size: 17px;

}
#s-sect3
    {
      font-size: 64px;
      color: white;
      padding-left: 2%;
    }



.header {
  text-align: center;
  padding: 28px;
}

.row {
   background-color: white;
   width: 98%;
   margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 7px;
  vertical-align: middle;
  width: 100%;
}





                                            /* testimonial */

#testh{
  font-size: 55px;
  color: white;
  padding-left: 2%;
}

 #section4{
  background-color:#8df7f4;
  width: 90%;
  margin: auto;
  color: white;
}                                           
.row2 {
  width: 90%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 45%; /* IE10 */
  flex: 45%;
  max-width: 50%;
  padding: 0 18px;
  margin: auto;

}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  margin: 50px;
  width: 90%;
}
#icons{
  border-radius:50%;
  height: 270px;
  width: 270px;
  border:solid black 2px;
}




                                      /*  contact  */

#s-sect5{
  font-size: 64px;
  width: 100%;height:auto;background-color: #1f1e1e;
  color: white;
}

#section5{
  position:relative;
  background-color: #1f1e1e ;
  opacity: 0.7;
  text-align: center;
  float:left;
  width: 100%;

  height: auto;
}
.cont{
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 64px;

}
#sub{
  padding-bottom: 9px;
  width: 20%;
  float: left;
  text-align: center;
}



                                              /* join us */


#section6{
  background-color:#2d2e2d ;
  text-align: center;
  float:left;
  width: 100%;
  height: auto;
  font-size: 64px;
}
#us{
  font-size: 64px;
  color: white;
}
.box{
  width: 50%;
  margin: auto;
  background-color: white;
  margin-bottom: 2%;
  border:solid black 2px;
}
#hub{
  width: 80%;
  margin:auto;
  border:solid black 2px;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 09px;
}
#h-hub{
  width:50%;
  margin: auto;
  border:solid black 1px;
  font-size: 36px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #36e370;
  color: red;
}
#join{
  font-size: 27px;
}
.copy{
  background-color: black;
}

}










                                                  /* for mobiles */






@media screen and (max-width: 420px)
{

.nava
  { 
      font-size: 11px;
      float: left;
      padding-left:2%;
      padding-right: 2%;
      padding-top: 3px;
      padding-bottom: 3px;
      text-decoration: none;
      background-color: transparent;
      color:#fcfcff;
  }

.nava2
    {
        width: auto;
        font-size: 11px;
        padding-right:2%;
        padding-left: 2%;
         padding-top: 3px;
      padding-bottom: 3px;
        float: right;
        text-decoration: none;
        background-color: transparent;
        color:#fcfcff;
        padding-top: auto;
        padding-bottom:auto;
    }
.nava a:hover
    {
      background-color: #18c947;
    }

.container a:hover
    {
      background-color: #18c947;
    }

.slideshow-container{
  padding-top: 10%;
  width: 90%;
  margin: auto;
}

.mySlides{}

                            



/* Caption text */

.text {
  color: #f2f2f2;
  font-size: 10px;
  padding: 1px 3px;
  position: all;
  bottom:;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 3px;
  padding: 1px 3px;
  position: absolute;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

                            /* Position the "next button" to the right */


.next 
    {
      right: 5%;
      top:25%;
      border-radius: 4px 0 0 4px;
      padding: 2%;
      position: absolute;
      color: white;
      float: right;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }
.prev 
    {
      left: 5%;
      top: 25%;
      border-radius: 4px 0 0 4px;
      padding: 2%;
      position: absolute;
      color: white;
      float: left;
      transition: background-color 0.6s ease;
      cursor: pointer;
    }



                                          /* About */


#section2
    {
      font-size: 11px;
      width: 98%;margin: auto;
      color: #353831;
    }

#s-section2
    {
      font-size: 20px;
      color: white;
      padding-left: 2%;
    }
p{
  width: 95%;
  margin: auto;
}


                                          /* Gallery */


 
 #section3{
  background-color: white;
  height: auto;
  width: 98%;
  margin: auto;
  font-size: 6px;

}
#s-sect3
    {
      font-size: 20px;
      color: white;
      padding-left: 2%;
    }



.header {
  text-align: center;
  padding: 10px;
}

.row {
   background-color: white;
   width: 98%;
   margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 45%;
  padding: 0 1px;
}

.column img {
  margin-top: 2px;
  vertical-align: middle;
  width: 100%;
}





                                            /* testimonial */

#testh{
  font-size: 18px;
  color: white;
}

 #section4{
  background-color:#1b5b7d;
  width: 80%;
  margin: auto;
  color: white;
}                                           
.row2 {
  width: 90%;
  margin: auto;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 1px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 45%; /* IE10 */
  flex: 45%;
  max-width: 45%;
  padding: 0 2px;
  margin: auto;

}

.column2 img {
  margin-top: 2px;
  vertical-align: middle;
  margin: 16px;
  width: 90%;
}
#icons{
  border-radius:50%;
  height: 70px;   
  width: 70px;
  border:solid black 1px;
}




                                      /*  contact  */

#s-sect5{
  font-size: 20px;
  width: 100%;height:auto;background-color: #1f1e1e;
  color: white;
}

#section5{
  position:relative;
  background-color: #1f1e1e ;
  opacity: 0.7;
  text-align: center;
  float:left;
  width: 100%;

  height: auto;
}
.cont{
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 20px;

}
#sub{
  padding-bottom: 3px;
  width: 20%;
  float: left;
  text-align: center;
}



                                              /* join us */


#section6{
  background-color:#2d2e2d ;
  text-align: center;
  float:left;
  width: 100%;
  height: auto;
  font-size: 20px;
}
#us{
  font-size: 20px;
  color: white;
}
.box{
  width: 50%;
  margin: auto;
  background-color: white;
  margin-bottom: 2%;
  border:solid black 1px;
}
#hub{
  width: 80%;
  margin:auto;
  border:solid black 1px;
  font-size: 8px;
  margin-top: 3px;
  margin-bottom: 2px;
}
#h-hub{
  width:50%;
  margin: auto;
  border:solid black 1px;
  font-size: 11px;
  margin-top:2px;
  margin-bottom: 2px;
  background-color: #36e370;
  color: red;
}
#join{
  font-size: 8px;
}
.copy{
  background-color: black;
}

}



